
.button{
    border: solid #2c2a2a 2px;
    color: #000;
    padding: 0.5vw;
    background-color: #ffffff00;
    text-decoration: none;
}
.button:hover{
    border: solid #61a375 2px;
    color: #fff;
    background: #61a375;
    transition: 0.3s;
}
.button:active{
    font-size: 98%;
}