.button{
    border: solid rgb(0, 0, 0) 2px;
    color: rgb(0, 0, 0);
    padding: 1vh;
    background-color: #ffffff00;
    text-decoration: none;
}
.button:hover{
    border: solid #61a375 2px;
    color: #fff;
    background: #61a375;
    transition: 0.3s;
}