@import "./reset.css";
@import "./nav.css";
@import "./text\ styles.css";
@import "./helios_cond.css";
@import "./button.css";


.lamp{
    padding-top: 160px;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
}
.lamp h6{
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 2.5vw;
}
.lamp img{
    width: 100%;
    margin-top: -10vw;
    z-index: -1;
}
.details{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -10vw;
}
.details img{
    width: 17vw;
}
.details .number_1, .details .number_2, .details .number_3{
    display: block;
    width: 5vw;
    margin-top: -2vw;
    box-shadow: 0 0 5px 2px rgb(179, 175, 175);
    border: solid rgb(179, 175, 175) 1px;
}
.details .number_1{
    margin-left: 1vw;
}
.details .number_2{
    margin-left: 4vw;
}
.details .number_3{
    margin-left: 3vw;
}
.details h6, .details p{
    text-align: left;
}
.details h6{
    margin-top: 4vw;
    margin-bottom: 1vw;
}
.details .body h6, .details .body p{
    margin-left: 1vw;
}
.details .light_source h6, .details .light_source p{
    margin-left: 4vw;
}
.details .glass h6, .details .glass p{
    margin-left: 3vw;
}
.drivers{
    display: block;
    margin-top: 7vw;
    background-color: #f5f5f5;
}
.drivers .drivers_text{
    padding-top: 6vw;
    padding-bottom: 6vw;
    margin-left: 10vw;
    margin-right: 40vw;
}
.lamp_img{
    width: 45vw;
    margin-left: 50vw;
    margin-top: -26vw;
}
.driver_mw, .driver_ph{
    width: 10vw;
    margin-top: -17vw;
    margin-left: 2vw;
}
.driver_mw{
    margin-left: 10vw;
}