@import "./reset.css";
@import "./nav.css";
@import "./text\ styles.css";
@import "./button.css";
@import "./helios_cond.css";

main{
    padding-top: 100px;
}
section{
    display: flex;
    margin-top: 5vh;
}
.section-1 img{
    flex: 2;
    width: 10px;
    height: auto;
}
section .text{
    flex: 3;
    background-color: #f5f5f5;
}
.section-1 .text-inside{
    margin: 7vh;
}
.text-inside p{
    margin-top: 5vh;
}
.section-2{
    margin-top: 10vh;
}
.section-2 .text{
    background-color: white;
    margin-right: 10vh;
}
.section-2 img{
    height: 25vh;
    margin-left: 7vh;
}
.section-2 .img{
    flex-grow: 0,5;
    text-align: center;
}
.section-2 .text-inside{
    margin-left: 7vh;
    margin-right: 7vh;
}

