@import "./reset.css";
@import "./nav.css";
@import "./text\ styles.css";
@import "./button.css";

main{
    padding-top: 100px;
}
.text-photo{
    display: flex;
    margin-top: 5vh;
}
.text-photo img{
    flex: 2;
    width: 1vh;
    height: auto;
}
.text-photo .text{
    flex: 3;
    background-color: #f5f5f5;
}
.text-inside .text{
    margin: 7vh;
}