header{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #61a375;
    position: fixed;
    border-bottom: solid #61a375 3px;
}
nav{
    flex-grow: 1;
    border-bottom: solid #fff 5px;
}
.language{
    text-align: right;
    width: 100%;
    margin-top: 10px;
}
.language a{
    color: #fff;
    text-decoration: none;
    padding-left: 5px;
}
.language a:not(:first-child){
    margin-right: 20px;
}
.language a:not(:last-child){
    border-right: solid #fff 2px;
}
h1{
    margin-top: 5vh;
    flex-grow: 1;
    padding-left: 20px;
    border-bottom: solid #fff 5px;
}
nav ul{
    text-align: right;
    display: flex;
    flex-grow: 1;
    margin-top: -10px;
}
header li{
    margin-top: 4vh;
    display: flex;  
    align-items: flex-end;
    text-align: left;
    margin-right: auto;
    color: #fff;
    margin-left: 2vh;
}
.band{
    text-align: right;
    width: 100%;
    height: 4px;
    background-color: #fff;
}