
.slider{
    z-index: -2;
    height: 100vh;
}
.slider img{
    height: 70vh;
    width: 100vw;
}
.blackout{
    margin-left: auto;
    display: block;
    z-index: -1;
    width: 40vw;
    height: 70vh;
    margin-top: -100vh;
    background-color: rgba(255, 255, 255, 0.405);
}
.text-slider{
    margin-left: auto;
    height: 57vh;
    width: 35vw;
    margin-top: -50vh;
}
.text-slider div{
    height: 20vh;
}
.text-slider h2{
    margin-bottom: 2vw;
}