@import "./reset.css";
@import "./nav.css";
@import "./text\ styles.css";
@import "./helios_cond.css";
@import "./button.css";

.main_text{
    padding-top: 160px;
    padding-bottom: 70px;
    text-align: center;
    background-color: rgb(235, 236, 236);
}
.block_numbers{
    background-color: rgb(235, 236, 236);
    padding-bottom: 70px;
}
.numbers{
    display: flex;
}
.numbers_blocks{
    width: 28vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px 2px rgb(179, 175, 175);
    background-color: #fff;
}
.numbers_blocks:first-child{
    margin-left: 6vw;
}
.numbers_blocks:last-child{
    margin-right: 6vw;
}
.numbers_img_number{
    width: 10vw;
    margin-bottom: 1vw;
    margin-top: 3vw;
    margin-left: 3vw;
}
.numbers h5{
    margin-bottom: 1vw;
    margin-left: 3vw;
}
.numbers p{
    text-align: justify;
    margin-right: 3vw;
    margin-bottom: 3vw;
    margin-left: 3vw;
    height: 4vw;
}
.numbers_stripes_1, .numbers_stripes_2, .numbers_stripes_3{
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
}
.numbers_stripes_2, .numbers_stripes_3{
    margin-top: 3.5vw;
}
.numbers_stripes_1-1{
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(16, 162, 16) 5px;
}
.numbers_stripes_1-2{
    height: 2px;
    width: 33%;
    margin: auto;
    border-bottom: solid rgb(235, 236, 236) 5px;
}
.numbers_stripes_1-3{
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(235, 236, 236) 5px;
}
.numbers_stripes_2-1{
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(235, 236, 236) 5px;
}
.numbers_stripes_2-2{
    margin: auto;
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(16, 162, 16) 5px;
}
.numbers_stripes_2-3{
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(235, 236, 236) 5px;
}
.numbers_stripes_3-1{
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(235, 236, 236) 5px;
}
.numbers_stripes_3-2{
    margin: auto;
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(235, 236, 236) 5px;
}
.numbers_stripes_3-3{
    height: 2px;
    width: 33%;
    border-bottom: solid rgb(16, 162, 16) 5px;
}
.numbers_img{
    width: 24vw;
    margin-bottom: 3vw;
}
.numbers_icons{
    width: 10vw;
    margin-top: -11.5vw;
    margin-left: 18vw;
}
.scrolling{
    margin-top: 70px;
}
.scrolling .scrolling_img{
    background-image: url(../media/img/DSC_5698+1.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}
.scrolling_cor{
    background-color: none;
    padding-top: 12vw;
    padding-bottom: 12vw;
    width: auto;
}
.scrolling_text{
    background-color: rgba(255, 255, 255, 0.878);
    margin-left: 12vw;
    margin-right: 12vw;
}
.scrolling h5{
    padding-top: 5vw;
    margin-bottom: 2vw;
    margin-left: 5vw;
}
.scrolling p{
    padding-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.light_source{
    display: flex;
    margin-top: 70px;
}
.light_source_text{
    margin-top: 1.5vw;
    margin-left: 12vw;
    margin-right: 12vw;
}
.light_source_text h4{
    margin-bottom: 1.5vw;
}
.light_source_strong{
    font-weight: 600;
    color: #000;
}
.light_source_img{
    width: 20vw;
    height: auto;
    margin-right: 12vw;
    margin-bottom: 70px;
}
.spectrum{
    background-color: #61a375;
    display: flex;
}
.spectrum_left{
    background-color: #fff;
    margin-top: 12vw;
    margin-left: 12vw;
    margin-bottom: 5vw;
    box-shadow: 0 0 15px 2px rgb(72, 59, 59);
}
.spectrum_left_img{
    margin-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 30vw;
    height: auto;
}
.spectrum_left_icon{
    width: 10vw;
    margin-top: -42vw;
    margin-left: 12vw;
    height: auto;
    z-index: 2;
}
.spectrum h2{
    text-align: center;
    margin-bottom: 1vw;
}
.spectrum_right{
    background-color: #fff;
    margin-top: 12vw;
    margin-left: 7.1vw;
    margin-right: 20vw;
    margin-bottom: 5vw;
    box-shadow: 0 0 15px 2px rgb(72, 59, 59);
}
.spectrum_right_img{
    margin-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 30vw;
    height: auto;
}
.spectrum_right_icon{
    width: 10vw;
    height: auto;
    margin-left: 12vw;
    margin-top: -42vw;
    z-index: 2;
}
.schedule{
    text-align: center;
    display: block;
    margin-top: 70px;
    padding-top: 2vw;
    margin-bottom: 70px;
    padding-bottom: 2vw;
    height: 40vw;
    background-color: #f9f9f9;
}
.schedule_text{
    text-align: left;
    width: 20vw;
    margin-top: -34vw;
    margin-left: 25vw;
}
.schedule_text h5{
    padding-bottom: 1.5vw;
}
.schedule_img{
    height: 40vw;
}
.advantages{
    text-align: center;
}
.sort{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.sort_img img{
    height: 25vw;
    width: 100%;
}
.sort_img_2, .sort_img_3, .sort_img_4, .sort_img_5, .sort_img_6 {
    display: none;
}
.sort_img_1{
    z-index: -1;
}
.sort_button{
    text-align: center;
    margin-top: -3.5vw;
}
.sort_button_2, .sort_button_3, .sort_button_4, .sort_button_5, .sort_button_6{
    margin-left: 4vw;
}
.sort_button_1, .sort_button_2, .sort_button_3, .sort_button_4, .sort_button_5, .sort_button_6{
    border: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.sort_button__img_1-2, .sort_button__img_2-2, .sort_button__img_3-2, .sort_button__img_4-2, .sort_button__img_5-2, .sort_button__img_6-2{
    margin-left: -9vw;
}
.sort_button__img_2-2, .sort_button__img_3-2, .sort_button__img_4-2, .sort_button__img_5-2, .sort_button__img_6-2{
    display: none;
}
.sort_button img{
    width: 9vw;
    background-color: #fff;
}
.sort_text{
    background-color: #f9f9f9;
    margin-top: -3.5vw;
    z-index: -4;
    height: 16.2vw;
}
.sort_text h5{
    padding-left: 11.9vw;
    padding-top: 5vw;
}
.sort_text p{
    padding-left: 11.9vw;
    margin-right: 11.9vw;
    padding-top: 1.5vw;
}
.sort_text_2, .sort_text_3, .sort_text_4, .sort_text_5, .sort_text_6 {
    display: none;
}