body{
    font-family: "helios-cond", sans-serif;
}
h1{    
    font-size: 3.5vh;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 6vh;
}
h2{
    color: #2a2a2a;
    font-size: 4vh;
    font-weight: bolder;
    letter-spacing: 0.5px;
}
h3{
    text-align: center;
    color: #2a2a2a;
    font-size: 4vh;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-top: 4vh;
    line-height: 4vh;
}
h4{
    color: #2a2a2a;
    font-size: 3vh;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 3vh;
}
p{
    color: #2a2a2a;
    font-size: 2vh;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 3vh; 
}